<!DOCTYPE html>
<html lang="en">
    <%- include('header.ejs') %>
<body>
    <%- include('nav.ejs') %>
    <%- content %>
    <div class="blog-list">
        <% for(var i=0; i < blogs.length; i++) { %>
            <div class="blog">
              <a href='<%= blogs[i].url %>' target="_blank"><%= blogs[i].title %></a>
            </div>
         <% } %>
    </div>
</body>
</html>